html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

h1 {
  margin-top: 100px;
  color: #fff;
  font-size: 40px; }

header {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: url("../images/image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(40%);
  filter: brightness(40%); }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px; }

.container .text-muted {
  margin: 20px 0; }

.menu {
  margin-top: 80px; }
  .menu a {
    margin: 0 10px 0 0; }