html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

h1 {
  font-size: 40px; }

header {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(40%);
  filter: brightness(40%); }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }

button {
  cursor: pointer;
}

.container {
  width: auto;
  padding: 0 15px; }

.container .text-muted {
  margin: 20px 0; }

.main-container {
  display: flex;
  justify-content: space-around;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #979797;
  padding: 25px 25px 0;
}

.main-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #202A36;
}

.menu {
  margin-top: 80px; }
  .menu a {
    margin: 0 10px 0 0;
  }

.padding-top {
  margin-top: 10px; 
}

.padding-top-sm {
  margin-top: 3px;
}

.panel-body {
  padding: 35px;
}

.nav-top {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grpc-input {
  height: 175px;
  width: 100%;
  resize: vertical;
}

.form-container {
  width: 25%;
  height: 65%;
  margin-left: 5%;
  border-right: 1px solid #979797;
}

.form-title {
  width: 60%;
  color: #202A36;
  border-bottom: 1px solid #979797;
}

.label-title {
  margin-top: 10px;
  font-size: 12px;
}

.ip-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ip-input {
  width: 50%;
  margin-right: 10px;
}

.checkbox {
  margin-left: 10px;
}
.checkbox-label {
  position: relative;
  top: 2px;
  left: 3px;
}

.tabs-container {
  width: 60%;
}

.panel {
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 20px 0 0 20px;
}

.cat-title {
  width: 20%;
  border-bottom: 1px solid #979797;
  margin-bottom: 5px;
}

.add-meta-btn-container {
  margin-bottom: 25px;
}

.key-value {
  display: flex;
  align-items: center;
}

.key-value input {
  width: 25%;
  margin-right: 5px;
  border-radius: 5px;
}

.add-meta-btn {
  margin-top: 10px;
}

.btn-send {
  margin: 0 10px 10px 0;
}

.btn-connect-container {
  display: flex;
  justify-content: flex-end;
  width: 55%;
  margin: 0 0 20px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


td {
  padding: 3px;
}

/*Color override*/
.btn-outline-primary {
  color: #0E4B80;
  border-color: #0E4B80;
  background-color: transparent;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
  color: #fff;
  border-color: #0E4B80;
  background-color: #0E4B80;
}
.btn-outline-secondary {
  color: #202A36;
  border-color: #979797;
  background-color: transparent;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  color: #fff;
  background-color: #979797;
}
.btn-outline-danger {
  color: #DF283B;
  background-color: transparent;
  border-color: #DF283B;
}
.btn-outline-danger:hover,
.btn-outline-danger:active {
  color: #fff;
  background-color: #DF283B;
}
.btn-outline-success {
  color: #31D74F;
  background-color: transparent;
  border-color: #31D74F;
}
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
  color: #fff;
  background-color: #31D74F;
}

.btn-xs {
  height: 25px;
  width: 25px;
  padding: 0;
}

button:focus {
  outline: none !important;
}

