<html ng-app="app" ng-controller="AppController">
    <head>
        <meta charset="utf-8"/>
        <title>omgRPC</title>
        <meta name="description" content=""/>
        <meta property="og:description" content=""/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-title" content="frontendboilerplate"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-title" content="frontendboilerplate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- build:css styles/vendor.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/><!-- endinject -->
        <link rel="stylesheet" href="../node_modules/dropzone/dist/min/dropzone.min.css"/>
        <link rel="stylesheet" href="../node_modules/ngdropzone/dist/ng-dropzone.min.css"/>
        <link rel="stylesheet" href="../node_modules/viewify/viewify.css"/>
        
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="styles/app.css"/><!-- endinject -->
        <!-- endbuild --><!-- FAVICON-->
        <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/><link rel="icon" href="images/favicon.ico" type="image/x-icon"/>-->
    </head>
    <body>
        <div class="row">
            <div class="col-md-3">
                <div class="nav well" ng-controller="NavController as vm">
                    <div class="btn-group-vertical" role="group">
                        <button type="button" class="btn btn-primary" ui-sref="new">Open Protofile</button>
                        <div ng-repeat="proto in vm.protos">
                            <div class="padding-top-sm" ng-repeat="svc in proto.services">
                                <button type="button" class="btn btn-default" ui-sref="client({protoID:proto.id, serviceID: svc.id})">{{svc.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="page-header">
                    <h1>omgRPC</h1>
                </div>

                <div ui-view="guest">
                </div>
            </div>
        </div>
    <footer>
        <div class="container">
            <p class="text-muted">Made with extreme carelessness.</p>
        </div>
    </footer><!-- build:js(.tmp) scripts/vendor.js -->

    <!-- inject:js -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/dropzone/dist/min/dropzone.min.js"></script>
    <script src="../node_modules/ngdropzone/dist/ng-dropzone.min.js"></script>
    <script src="../node_modules/viewify/viewify.js"></script>
    <script src="scripts/entry.js"></script>
    <script src="scripts/app.controller.js"></script>
    <script src="scripts/about.controller.js"></script>
    <script src="scripts/new.controller.js"></script>
    <script src="scripts/client.controller.js"></script>
    <script src="scripts/grpc.service.js"></script>
    <script src="scripts/nav.controller.js"></script>
    <!--<script src="scripts/grpcdefiniton.service.js"></script>-->
    <!-- endinject -->
    <!-- endbuild -->
</body></html>