<div ng-controller="ClientController as vm">
    <div class="main-container">
        <div class="form-container">
            <div class="form-title">Connection Information</div>
            <div class="label-title">IP Address</div>
            <div class="ip-input-container">
                <input type="text" class="form-control ip-input" ng-model="vm.connection.addr" placeholder="127.0.0.1:9000" ng-disabled="(vm.client)">
                <input class="checkbox" type="checkbox" ng-model="vm.connection.secure">
                <div class="checkbox-label">Secure</div>
            </div>

            <button type="button" class="btn btn-outline-success" ng-click="vm.connectClient(vm.connection.addr)" ng-hide="vm.client">Connect</button>
            <button type="button" class="btn btn-outline-danger" ng-click="vm.disconnectClient()" ng-show="vm.client">Disconnect</button>
        </div>


        <div ng-hide="!kubectlExists()" class="row" style="padding-left:30px;" ng-hide="vm.client">
            <div class="row">
                <div class="col-sm-10" data-toggle="tooltip" title="Some text">
                    <img src="/app/styles/kubernetes-logo.svg" style="width:15px;margin-top:-2px;padding-top:-5px;">

                    Cluster: <select class="form-control" style="width:50%;display:inline-block;" ng-change="kubectlContextChange(this)" data-ng-options="o.name for o in kubectlContexts" data-ng-model="kubectlSelectedContext" ng-disabled="(vm.client)"></select>
                </div>
                <a class="col-sm-1" ng-show="!vm.showTooltip" ng-click="vm.toggleTooltip()">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
            </div>
            <div class="row" ng-show="vm.showTooltip">
                <div class="alert alert-info col-sm-12 padding-top" role="alert">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="vm.toggleTooltip()">&times;</span></button>
                    <strong>Wow you're lucky!</strong> We noticed you have kubectl installed, so if you're trying to hit a gRPC server running in Kubernetes
                    just select your desired context and type the service you want to connect to and omgRPC will automatically set up a proxy for you.
                    For example, you can type myservice.mynamespace:portname, so cool!
                </div>
            </div>
        </div>
    </div>

        <div ng-hide="!vm.connection.secure">
            <div>
                <label class="btn btn-default" for="my-file-selector">
                    <input id="my-file-selector" type="file" style="display:none;" onchange="angular.element(this).scope().setCert(this)" /> Browse for cert
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            <label  for="targetoveride">Target Name Override</label>
            <input  type="text" class="form-control" id="targetoveride" placeholder="optional" ng-model="vm.connection.targetnameoveride"/>
        </div>

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li ng-repeat="method in vm.client.methods"
                class="nav-item"
                role="presentation"
                ng-class="vm.selectedMethod.name === method.name ? 'active' : vm.selectedMethod"
                ng-click="vm.setMethod(method)">
                <a>{{method.name}}</a>
            </li>
        </ul>

        <div ng-show="vm.selectedMethod" class="panel panel-default">
            <div class="cat-title">Metadata</div>
            <!--key, value, minus button-->
            <div class="key-value padding-top" ng-repeat="metadata in vm.metadataArgs">
                <input class="form-control" type="text" ng-model="metadata.key" placeholder="key">
                <input class="form-control" type="text" ng-model="metadata.value" placeholder="value">

                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeMetadata(metadata)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <div class="add-meta-btn-container">
                <button type="button" class="add-meta-btn btn btn-outline-success btn-sm" ng-click="vm.addMetadata()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add Metadata
                </button>
            </div>

            <div class="btn-connect-container padding-top-sm" ng-if="vm.selectedMethod.isStream">
                <div ng-if="!vm.stream.isConnected">
                    <button type="button" class="btn btn-outline-primary" ng-click="vm.connectStream(vm.selectedMethod)">Connect</button>
                </div>
            </div>

            <div ng-if="!vm.selectedMethod.isStream || vm.stream.isConnected">
                <div class="cat-title">Input</div>
                <div ng-show="vm.json">
                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.toggleInput()">Try Experimental Form</button>
                    <button type="button" class="btn btn-outline-secondary" ng-click="vm.setMethod(vm.selectedMethod, true)">Reset Input</button>
                    <textarea class="grpc-input padding-top" placeholder="argument (JSON)" ng-model="vm.selectedMethod.arg.argStr">
                                </textarea>
                </div>
                <div class="col-md-12" ng-show="!vm.json">
                    <button type="button" class="btn btn-default" ng-click="vm.toggleInput()">Back to JSON Input</button>
                    <button type="button" class="btn btn-default" ng-click="vm.setMethod(vm.selectedMethod, true)">Reset Input</button>

                    <div id="viewify-container" class="padding-top"></div>
                </div>
            </div>

            <div class="padding-top pull-right" ng-if="!vm.selectedMethod.isStream">
                <button type="button" class="btn-send btn btn-outline-primary" ng-click="vm.execute(vm.selectedMethod)">Send</button>
            </div>

            <div class="padding-top pull-right" ng-if="vm.selectedMethod.isStream">
                <div>
                    <div ng-if="vm.stream.isConnected">
                        <button type="button" class="btn btn-info" ng-click="vm.sendStream(vm.stream)">Send Message</button>
                    </div>
                    <div ng-if="vm.stream.isConnected" class="padding-top-sm">
                        <button type="button" class="btn btn-warning" ng-click="vm.closeStream(vm.stream)">Close</button>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!vm.selectedMethod.isStream || vm.stream.isConnected">
                <div class="col-md-10">
                    <h4 ng-if="vm.result != null">Response</h4>
                    <div>
                        <div ng-if="vm.result != null">
                            <pre ng-bind-html="vm.result | prettify"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





