<div ng-controller="ClientController as vm">
    <div>
        <input type="text" ng-model="vm.connection.addr" ng-disabled="vm.client"></input>
        <button type="button" class="btn-small btn-default disabled" ng-click="vm.connectClient(vm.connection.addr)" ng-disabled="vm.client">Connect</button>
    </div>

    <div>
        <span ng-repeat="method in vm.client.methods">
            <button ng-if="method==vm.method.name" disabled type="button" class="btn-small btn-primary" ng-click="vm.setMethod(method)">{{method}}</button>
            <button ng-if="method!=vm.method.name" type="button" class="btn-small btn-default disabled" ng-click="vm.setMethod(method)">{{method}}</button>
        </span>

        <div ng-show="vm.method.selectedMethod">
            <div>
                <button type="button" class="btn-small btn-primary" ng-click="vm.execute(vm.method)">Send</button>
            </div>
            <textarea placeholder="argument (JSON)" ng-model="vm.method.argStr">

            </textarea>

            <div ng-if="vm.result.err">
                <p>Error: {{vm.result.err.code}}</p>
                <p>Message: {{vm.result.err.message}}</p>
            </div>
            <div ng-if="!vm.result.err">
                {{vm.result.response | json}}
            </div>
        </div>
    </div>
</div>